extends ../layout

block content
    h1.page-header Edit category page
    ol.breadcrumb
        li
            a(href="/") Home
        li
            a(href="/phonebook/categories") Categories
        li.active Edit category
    .row
        .col-md-4
            form
                .form-group
                    label(for="name") Name:
                    input#name(type="text" name="name" value="#{categ.name}").form-control
                br
                .form-group.text-right
                    button(type="submit").btn.btn-primary Save
                    a(href="/phonebook/categories").btn.btn-default Cancel
